@model MackkadoITFramework.Security.SecurityUserRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SecurityUserRole</legend>

    <div class="display-label">UniqueID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UniqueID)
    </div>

    <div class="display-label">FK_UserID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FK_UserID)
    </div>

    <div class="display-label">FK_Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FK_Role)
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">IsActive</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">IsVoid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVoid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
